{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "rules": {
    "react/prop-types": [2, { "ignore": ["navigation"] }],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "max-len": [1, { "code": 100 }],
    "import/prefer-default-export": [0]
  },
  "env": {
    "jest/globals": true
  },
  "plugins": ["jest"]
}
